body{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    background-color: #0d0d0d;
}
.fas{
    /* background-color: white; */
    color:white;
}
img{
    width: 100%;
    height: 400px;
    
    object-fit: cover;
}
#main{
    width:90%;
    margin:40px auto;
    display: flex;
    justify-content: space-between;
}
section{
    line-height: 20px;
    background-color: #0d0d0d;
    color:white;
    width:45%;
    box-shadow:  5px 5px 10px #050505,
             -5px -5px 10px #151515;
}
aside{
    background-color: #0d0d0d;
    color:white;
    box-shadow:  5px 5px 10px #050505,
    -5px -5px 10px #151515;
    width:50%;
}
.info,.skills,.language{
    padding:30px;
}
.container {
    height:15px;
    border-radius: 7px;
    width:100%;
    background-color: white;
}
h5{
    font-size: 1.2rem;
}
h3{
    font-size: 2rem;
}
h5 i{
    margin-right: 10px;
}
h3 i{
    margin-right: 40px;
}
.html{width:90%;background-color:black ;border-radius: 6px;
    height: 15px;}
.css{width:80%;background-color:black ;border-radius: 6px;
        height: 15px;}
.js{width:50%;background-color:black ;border-radius: 6px;
            height: 15px;}
.php{width:40%;background-color:black ;border-radius: 6px;
                height: 15px;}
.c{width:50%;background-color:black ;border-radius: 6px;
                    height: 15px;}
.cpp{width:50%;background-color:black ;border-radius: 6px;
                        height: 15px;}
.eng{width:70%;background-color:black ;border-radius: 6px;
                            height: 15px;}
.nep{width:95%;background-color:black ;border-radius: 6px;
                                height: 15px;}
.limbu{width:90%;background-color:black ;border-radius: 6px;
height: 15px;}


.education,.experience{
    padding:35px;
}
footer{
   padding-top: 10px;
    font-size:1.6rem;
    height:200px;
    width:100%;
    background-color: #bdc3c7;
    color:black;
    text-align: center;

}
@media screen and (max-width:650px){
    #main{
        flex-direction: column;
    }
    section,aside{
        width:100%;
    }
}
        
